.weekday_label {
    font-family: monospace !important;
}
.firms_list_logo {
    text-align: center;
}
.informer {
    cursor: pointer;
    color: #269abc;
}
.informer:hover, .informer:active {
    color: #888;
}